.recipe-data {
  text-align: center;
  margin: 100px 0;

  input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    text-decoration: none;
    color: rgb(82, 169, 240);
  }

  .singleRecipe {
    width: 90%;
    margin: 10px 0;
    padding: 20px;
  }
}
