.recipe-data {
  text-align: center;
  margin: 100px 0;
}

.recipe-data input {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.recipes a {
  text-decoration: none;
  color: #52a9f0;
}

.recipes .singleRecipe {
  width: 90%;
  margin: 10px 0;
  padding: 20px;
}
/*# sourceMappingURL=App.css.map */